* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #141527;
}

.app {
  display: flex;
  background: #141527;
  text-align: center;
  width: 100%;
}

header {
  width: 15em;
  margin: 1em;
}

h1, label {
  color: #FBB15E;
}

h1, h3 {
  font-family: 'Sen', sans-serif;
  font-weight: 800;
}
